<div class="register-container">
    <mat-card class="register-container__card">
        <mat-card-header>
            <mat-card-title>
                Register
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
            <form class="form" [formGroup]="registerFormGroup" (ngSubmit)="submitForm()">
                <mat-form-field>
                    <mat-label>
                        <mat-icon>email</mat-icon>
                        Email address
                    </mat-label>
                    <input matInput formControlName="email">
                    <mat-error>
                        Provide an email
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon class="mat-icon-scaled-big">person</mat-icon>
                        Username
                    </mat-label>
                    <input matInput type="text" formControlName="username">
                    <mat-error>
                        Username has to have between 2 and 20 characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon class="mat-icon-scaled-small">lock</mat-icon>
                        Password
                    </mat-label>
                    <input matInput type="password" formControlName="password" autocomplete="off">
                    <mat-error>
                         Provide at least one digit, one lower and upper case letter and between 5 to 25 characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon class="mat-icon-scaled-small">lock</mat-icon>
                        Confirm password
                    </mat-label>
                    <input matInput type="password" formControlName="confirmPassword" autocomplete="off" [errorStateMatcher]="passwordStateMatcher">
                    <mat-error *ngIf="registerFormGroup.errors?.['passwordMismatch']">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                    Register
                </button>
                <mat-progress-spinner *ngIf="showSpinner" class="spinner" color="primary" mode="indeterminate">
            </mat-progress-spinner>
            </form>
            <span>
                Already have an account?
            </span>
            <button mat-raised-button [routerLink]="['/']">
                Login
            </button>
        </mat-card-content>
    </mat-card>
</div>
