<div class="creator-container">
    <h2>
        Create your shopping list
    </h2>
    <mat-card>
        <div class="creator-container__card-header">
            <mat-form-field class="input">
                <mat-label>
                    Shopping list name
                </mat-label>
                <input matInput>
                <mat-error>
                    Provide the name for the shopping list
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input">
                <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="Shopping deadline">
                <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerFrom [hideTime]="true"></ngx-mat-datetime-picker>
              </mat-form-field>
        </div>
    </mat-card>
</div>
