<div class="creator-container">
    <h2>
        Create your shopping list
    </h2>
    <mat-card>
        <div class="creator-container__card-header">
            <mat-form-field class="input">
                <mat-label>
                    Shopping list name
                </mat-label>
                <input matInput>
                <mat-error>
                    Provide an email
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>
                    Shopping list name
                </mat-label>
                <input matInput>
                <mat-error>
                    Provide an email
                </mat-error>
            </mat-form-field>
        </div>
    </mat-card>
</div>
